.servicesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.servicesHeader {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
}

.servicesCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.animationOnScrollDiv {
  display: flex;
  justify-content: center;
}
