.aboutUsSection {
  background-color: var(--main-bg-color);
  padding: 1rem 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.aboutUsHeader {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: 3rem;
}

.aboutUsSubtitle {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.aboutUsParagraph {
  color: white;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  text-align: center;
  line-height: var(--font-line-height);
}

.aboutUsbutton {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  background-color: transparent;
  border: 1px solid var(--button-color);
  outline: none;
  padding: 0.5rem;
}
