.whyInamSection {
  background-color: var(--main-bg-color);
  padding: 3rem 1.5rem 3rem 1.5rem;
  display: flex;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.whyInamHeader {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.whyInamParagraph {
  color: white;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  max-width: 70ch;
  width: 80%;
  line-height: var(--font-line-height);
  padding-right: 1rem;
}

.teamGroupPic {
  max-width: 400px;
  min-width: 300px;
  width: 50%;
  height: auto;
  box-shadow: 0px 3px 8px -1px var(--dark-grey);
}

@media screen and (max-width: 768px) {
  .whyInamSection {
    flex-direction: column;
  }
  .whyInamHeader {
    text-align: center;
  }

  .whyInamParagraph {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 871px) {
  .whyInamHeader {
    font-size: var(--font-size-title);
  }

  .whyInamParagraph {
    font-size: var(--font-size-regular);
    width: 100%;
  }
}
