.teamMemberCardContainer {
  width: 18rem;
  outline: var(--secondary-bg-color) solid 1px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
}

.teamMemberCardContainer:hover {
  animation-name: teamMemberCardContainer;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.teamMemberPic {
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}

.teamMemberName {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-bottom: 0.5rem;
}

.teamMemberPosition {
  color: #8e8e8e;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  text-align: center;
  white-space: nowrap;
}

/**
 * ----------------------------------------
 * animation teamMemberCardContainer
 * ----------------------------------------
 */
@-webkit-keyframes teamMemberCardContainer {
  0% {
  }
  100% {
    box-shadow: 0px 3px 8px -1px var(--dark-grey);
  }
}

@keyframes teamMemberCardContainer {
  0% {
  }
  100% {
    box-shadow: 0px 3px 8px -1px var(--dark-grey);
  }
}

@media screen and (max-width: 871px) {
  .teamMemberCardContainer {
    align-items: center;
  }
}
