.teamMemberCardContainer {
  width: 18rem;
  outline: var(--button-color) solid 1px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
}

.teamMemberPic {
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}

.teamMemberName {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-bottom: 0.5rem;
}

.teamMemberPosition {
  color: #8e8e8e;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 871px) {
  .teamMemberCardContainer {
    align-items: center;
  }
}
