.qualityCard {
  width: 20rem;
  padding: 2.25rem 1rem;
  box-shadow: 0px 3px 8px -1px var(--dark-grey);
  /* animation-name: slide-in-left;
  animation-duration: 1s; */
}

.qualityCardText {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
