.qualityCard {
  width: 20rem;
  padding: 2.25rem 1rem;
  box-shadow: 0px 3px 8px -1px var(--dark-grey);
}

.qualityCardText {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

@media screen and (max-width: 871px) {
  .qualityCardText {
    font-size: var(--font-size-subtitle);
  }
}
