.headerContainer {
  background-color: var(--main-bg-color);
  background-image: url("../../images/bg-art-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  margin-top: 6rem;
  display: flex;
  width: 100%;
  height: 35rem;
  padding: 1rem;
  row-gap: 3rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
}

.headerText {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.headerTitle {
  color: white;
  font-family: var(--font-family-heading);
  font-size: 5rem;
  font-weight: var(--font-weight-extra-bold);
  text-align: left;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.headerBody {
  color: white;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-subtitle);
  line-height: var(--font-line-height);
  text-align: left;
}

.headerButton {
  width: 25%;
  padding: 0.5rem;
  box-shadow: 0px 4px 13px -1px var(--dark-grey);
  background-color: var(--button-color);
  cursor: pointer;
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-medium);
  border: none;
  outline: none;
}

.headerButton:hover {
  animation-name: headerButtonHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.headerImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.headerImg {
  position: relative;
  width: 20rem;
  height: auto;
}

.hireUsLink {
  text-align: left;
}

/**
 * ----------------------------------------
 * animation headerButtonHover
 * ----------------------------------------
 */
@-webkit-keyframes headerButtonHover {
  0% {
  }
  100% {
    color: var(--main-bg-color);
    background-color: white;
  }
}

@keyframes headerButtonHover {
  0% {
  }
  100% {
    color: var(--main-bg-color);
    background-color: white;
  }
}

@media screen and (max-width: 871px) {
  .headerContainer {
    background-color: var(--main-bg-color);
    background-image: url("../../images/bg-art-header.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35rem;
    padding: 1rem;
    row-gap: 3rem;
    overflow: hidden;
    justify-content: flex-start;
  }

  .hireUsLink {
    text-align: center;
  }

  .headerImg {
    width: 12rem;
    height: auto;
  }

  .headerText {
    width: 100%;
  }

  .headerTitle {
    color: white;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-extra-bold);
    text-align: center;
    padding-top: 1rem;
  }

  .headerBody {
    color: white;
    font-family: var(--font-family-paragraph);
    font-size: var(--font-size-subtitle);
    line-height: var(--font-line-height);
    text-align: center;
  }

  .headerButton {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    box-shadow: 0px 4px 13px -1px var(--dark-grey);
    background-color: var(--button-color);
    cursor: pointer;
    color: white;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    border: none;
    outline: none;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
  .headerContainer {
    background-size: 1440px;
  }
}

@media screen and (min-width: 1920px) {
  .headerContainer {
    background-repeat: repeat;
    background-position-y: top;
  }
}
