.headerContainer {
  background-color: var(--main-bg-color);
  background-image: url("../../images/bg-art-header.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  padding: 1rem;
  row-gap: 3rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.headerTitle {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-extra-bold);
  text-align: center;
  padding-top: 1rem;
}

.headerBody {
  color: white;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  line-height: var(--font-line-height);
  text-align: center;
}

.headerButton {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  box-shadow: 0px 4px 13px -1px var(--dark-grey);
  background-color: var(--button-color);
  cursor: pointer;
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);

  font-weight: var(--font-weight-medium);
  border: none;
  outline: none;
}

.headerImgContainer {
  display: flex;
  justify-content: center;
}

.headerImg {
  width: 50%;
  height: auto;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
