.contactUsSection {
  background-color: var(--secondary-bg-color);
  padding: 3rem 1rem 1rem 1rem;
  overflow: hidden;
}

.contactUsContainer {
  display: flex;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.contactUsSplit {
  margin-left: 5rem;
}

.contactUsHeader {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.contactUsParagraph {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  margin-bottom: 2rem;
  width: 70%;
  line-height: var(--font-line-height);
}

.contactUsMethods {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.contactUsMethodContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}

.contactUsMethodIcon {
  width: 10%;
  height: auto;
}

.contactUsMethodHeader {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.5rem;
}

.contactUsMethodParagraph {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
  line-height: var(--font-line-height);
}

.contactUsForm {
  width: 60rem;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--button-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contactUsFormHeader {
  color: white;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 1rem;
}

.contactUsFormTextInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contactUsFormInput {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem;
  resize: none;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
}

.contactUsFormInput::placeholder {
  color: #8e8e8e;
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-regular);
}

.contactUsFormButton {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  outline: none;
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.contactUsFormButton:hover {
  animation-name: contactUsFormButtonHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/**
 * ----------------------------------------
 * animation contactUsFormButtonHover
 * ----------------------------------------
 */
@-webkit-keyframes contactUsFormButtonHover {
  0% {
  }
  100% {
    background-color: rgb(172, 172, 172);
  }
}

@keyframes contactUsFormButtonHover {
  0% {
  }
  100% {
    background-color: rgb(172, 172, 172);
  }
}

@media screen and (max-width: 871px) {
  .contactUsContainer {
    flex-direction: column;
  }

  .contactUsSplit {
    margin-left: auto;
  }

  .contactUsHeader {
    font-size: var(--font-size-title);
    text-align: center;
  }

  .contactUsParagraph {
    font-size: var(--font-size-regular);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .contactUsMethodContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .contactUsMethodHeader,
  .contactUsMethodParagraph {
    text-align: center;
  }

  .contactUsMethodIcon {
    width: 15%;
  }

  .contactUsForm {
    width: 90%;
    margin-right: auto;
  }
}
