.certificationsSection {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  margin-top: 4rem;
}

.certificationHeader {
  color: #8e8e8e;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.certificationsContainer {
  /* display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto; */
  display: grid; 
  
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . .";
  margin-right: auto;
  margin-left: auto; 
  margin-top: 2rem;
  width: 80%;
}

.test {
  width: 10%;
}

.certificationIcon {
  width: 30%;
  height: 100%;  
  justify-self: center; 
  align-self: center; 
}

.lastCert {
  width: 30%;
  height: 100%;  
  justify-self: center; 
  align-self: center; 
}

@media screen and (max-width: 871px) {
  .certificationHeader {
    font-size: var(--font-size-title);
    justify-items: center;
  }

  .certificationsContainer {
    grid-template-areas: 
    ". ."
    ". ."
    "lastCert lastCert";
    grid-auto-flow: row;
  }

  .certificationIcon {
    width: 50%;
    height: auto;
  }

  .lastCert {
    width: 25%;
    height: auto;
    grid-area: lastCert;
  }
}
